apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: ghcr.io/emmauopeople/1community-app-backend
    newTag: sha-78788bccfb2239f05d75e9e97dffab9288de6f80
